<!DOCTYPE html5>
<html lang="pt-BR">

<head>
    <title>MyBox | Footer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="style.css" rel="stylesheet" />
    <link href="/styles/index.css" rel="stylesheet" />
</head>

<body>
    <section class="content" style="height: 75vh;">
        <!-- Container simulando o conteudo da pagina -->
        <div style="text-align: center;">
            <h1>Conteudo da pagina</h1>
        </div>
    </section>
    <footer class="top">
        <img src="/images/logo.svg" alt="" />
        <div class="links">
            <div id="quick-links">
                <div>
                    <h2>Acesso Rapido</h2>
                </div>
                <a href="/">
                    <i class="fas fa-home"></i>
                    Pagina Inicial
                </a>
                <a href="#">
                    <i class="fas fa-user"></i>
                    Contato
                </a>
                <a href="#">
                    <i class="fas fa-folder-open"></i>
                    Projetos
                </a>
                <a href="#">
                    <i class="fas fa-gamepad"></i>
                    Jogos
                </a>
            </div>
            <div id="social-media">
                <h2>Redes Sociais</h2>
                <a href="#">
                    <i class="fab fa-github"></i>
                    Github
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                    LinkedIn
                </a>
            </div>
        </div>
    </footer>
    <footer class="bottom">
        <div class="legal">
            <span>
                © 2023 Lucas Araujo. Todos os direitos reservados.
            </span>
            <a href="#">Termos de uso</a>
            <a href="#">Política de privacidade</a>
        </div>
        <div class="legal dinf">
            <span>
                Pagina hospedada e disponibilizada pelo
                Departamento de Informatica da UFPR -
                <a href="https://web.inf.ufpr.br/dinf/">DINF</a>
            </span>
        </div>
    </footer>
</body>

</html>
