header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    pointer-events: none;
    margin-bottom: 1rem;
    margin-top: 1.5rem;

    h1 {
        text-shadow: 0 0 3px rgba(200, 200, 200, 0.5);
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        color: var(--h-color);
        @media (max-width: 600px) {
            font-size: 3.5rem !important;
            white-space: wrap;
            padding: 3rem 1rem;
        }
        @media (min-width: 600px) {
            font-size: 3rem !important;
        }
    }
    
    h3 {
        text-align: center;
        @media (max-width: 600px) {
            white-space: wrap;
        }
        padding: 0 1rem;
    }

    p {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    #themeButton {
        align-self: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        width: 36px;
        height: 36px;
        margin-top: 0.5rem;
        margin-right: 1rem;
        padding: 0;
        pointer-events: all;
        background: none;
        border: none;
        border-radius: 50%;
        font-size: 18px;

        i.fa-sun {
            color: #f1c40f;
        }

        i.fa-moon {
            color: #2a2ca2;
        }
    }
}

section header {
    width: 100%;

    h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

article {
    h2 {
        pointer-events: none;
        font-size: 2rem;
        text-shadow: 0 0 3px rgba(200, 200, 200, 0.2);
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }
}
