/* Home page styles */
header,
section,
article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
    margin-bottom: 3rem;
}

article {
    padding: 2.5rem;
    width: 100%;
}

button > a {
	text-decoration: none;
	color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

article p,
article span {
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

article p, article a {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

ul.text-list {
    width: 95%;
    display: grid;
    padding: 0;
    gap: 2rem;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        a {
            font-size: 18px !important;
            /* hover */
            &:hover {
                font-size: 20px !important;
            }
        }
    }

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    a {
        font-weight: 600;
        font-size: 24px;
        text-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
    }

    span {
        font-size: 100%;
        font-weight: 500;
        text-align: center;
        line-height: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        pointer-events: none;
        white-space: wrap;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 0;
        width: 100%;
        height: 150px;
        line-height: 1.5rem;
        justify-self: center;
        border-radius: 5px;
        background: linear-gradient(45deg, #1c1c1c, #1e1e1e);
        border: 3px solid rgba(10, 10, 10, 0.4);
        transition: all 300ms ease-in;
        pointer-events: visible;
        cursor: pointer;
    }

    li:hover {
        background: linear-gradient(45deg, #1d1d1d, #212121);
        border: 3px solid rgba(90, 90, 90, 0.6);
        box-shadow: 0 0 10px rgba(90, 90, 90, 0.4);
    }
}

ul.button-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;

    li {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
}

button {
	border: none;
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	background: var(--button-color);
	color: #fff;
	> a {
		font-weight: 600;
        font-size: 14px;
	}
	transition: all 0.3s ease;
}

button:hover {
	background: var(--button-hover-color);
	box-shadow: 0 0 10px var(--button-hover-color);
	width: 200px;
}

@media (max-width: 768px) {
    article p,
    article span {
        font-size: 12px;
    }

    ul.text-list {
        grid-template-columns: 1fr;
    }
}
