@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&family=Shadows+Into+Light&family=Source+Sans+3:wght@400;600;700&display=swap');

:root {
    --bright-pink-100: #390511;
    --bright-pink-200: #720a22;
    --bright-pink-300: #ac0f34;
    --bright-pink-400: #e51445;
    --bright-pink-500: #ef476f;
    --bright-pink-600: #f26d8c;
    --bright-pink-700: #f591a9;
    --bright-pink-800: #f9b6c5;
    --bright-pink-900: #fcdae2;
    --bright-pink: var(--bright-pink-500);

    --sunglow-100: #473200;
    --sunglow-200: #8f6400;
    --sunglow-300: #d69600;
    --sunglow-400: #ffbc1f;
    --sunglow-500: #ffd166;
    --sunglow-600: #ffda85;
    --sunglow-700: #ffe3a3;
    --sunglow-800: #ffedc2;
    --sunglow-900: #fff6e0;
    --sunglow: var(--sunglow-500);

    --emerald-100: #012b20;
    --emerald-200: #02563f;
    --emerald-300: #03805f;
    --emerald-400: #04ab7f;
    --emerald-500: #06d6a0;
    --emerald-600: #1cf9be;
    --emerald-700: #55fbce;
    --emerald-800: #8efcdf;
    --emerald-900: #c6feef;
    --emerald: var(--emerald-600);

    --royal-blue: #4367E5;
    --royal-blue-50: #E4E9FB;
    --royal-blue-100: #D2DBF9;
    --royal-blue-200: #AEBEF4;
    --royal-blue-300: #8AA1EF;
    --royal-blue-400: #6684EA;
    --royal-blue-500: #4367E5;
    --royal-blue-600: #1D46D3;
    --royal-blue-700: #1636A2;
    --royal-blue-800: #0F2570;
    --royal-blue-900: #09153F;
    --royal-blue-950: #050D26;

    --midnight-green-100: #010c0f;
    --midnight-green-200: #03171e;
    --midnight-green-300: #04232d;
    --midnight-green-400: #062e3c;
    --midnight-green-500: #073b4c;
    --midnight-green-600: #0e7699;
    --midnight-green-700: #16b3e7;
    --midnight-green-800: #62cdf0;
    --midnight-green-900: #b1e6f8;
    --midnight-green: var(--midnight-green-500);
}

:root {
    --button-color: #5389dd;
    --button-hover-color: #1d7efc;
    --body-color: #1c1c1c;
    --body-primary-color: #1c1c1c;
    --body-secondary-color: #20232c;
    --text-color: #fff;
    --secondary-bg-color: #1e1e1e;
    --footer-bg-color: #161616;
    --footer-text-color: #a2b5cd;
    --footer-link-hover-color: #122a53;
    --footer-a-hover-color: #2dc1f3;
    --special-text-color: #e2254d;
    --h-color: #fff;
    --card-color: #242424;
    --card-border-color: #2c2c2c;
    --theme-button-bg-color: #4a757a;
    --theme-button-color: #f1c40f;
    --theme-button-hover-bg-color: #0875ba;
}

.light {
    --body-primary-color: #F5F5F5;
    --button-color: #B9EFFF;
    --button-hover-color: #DAE6F5;
    --body-color: #e2faff;
    --text-color: var(--royal-blue-900);
    --secondary-bg-color: #E3E3E3;
    --footer-bg-color: #fafafa;
    --footer-text-color: #12354d;
    --footer-link-hover-color: #5de1fd;
    --h-color: var(--royal-blue-800);
    --card-color: #e2eff7;
    --card-border-color: #0e3a7d;
    --theme-button-bg-color: #7aaaaf;
    --theme-button-color: #ffe9b4;
    --theme-button-hover-bg-color: #2a75a9;
}

#root,
html,
body {
	width: 100%;
	height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	color: var(--text-color);
}

body {
    background: var(--body-primary-color);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

::-webkit-scrollbar {
	width: 0.05rem;
    padding: 0 0.1rem;
}

::-webkit-scrollbar:hover {
    width: 0.1rem;
}

::-webkit-scrollbar-track {
    /* transparent */
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
    background: #444;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    height: 15vh;
}

::-webkit-scrollbar-thumb:hover {
	background: #17f;
}
